div.input-block textarea {
  font-size: 13px;
  color: #1e1f20;
  width: 100%;
  padding: 6px 15px;
  border-radius: 4px;
  border: 1.2px solid #ababab;
  outline: none;
}

div.input-block span.placeholder {
  position: absolute;
  margin: 8px 0;
  padding: 0 0px;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.9rem;
  top: 0;
  left: 12px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  background: none;
  pointer-events: none;
  opacity: 1 !important;
  font-size: 13px;
  color: #333 !important;
  font-weight: 600;
}

div.input-block span.placeholder.required {
  color: var(--btn-primary);
}

div.input-block textarea:valid + span.placeholder,
div.input-block textarea:focus + span.placeholder {
  transform: scale(0.8) translateY(-20px);
  background: #fff;
  padding: 0px 5px;
}

div.input-block textarea:focus {
  color: #1e1f20;
  /* border-color: var(--btn-tertiary); */
}

div.input-block textarea:focus + span.placeholder {
  color: var(--btn-tertiary);
}

.placeholder {
  padding-left: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #2d2d2d;
  position: relative;
  top: -1px;
}
